sessions/
github-copilot/
raycast/
jgit/
gh/
argocd/
csharp.history
httpie/
fontforge/
lazy-lock.json
.DS_Store
evans/
zed/conversations
zed/embeddings
zed/prompts
zed/.*
__pycache__/
codex/log
codex/sessions/2025/08/19
codex/auth.json
codex/history.jsonl
codex/version.json
configstore/update-notifier-@google
configstore/update-notifier-@google
